/************** WEB LAYOUT **************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    /* overflow-x: hidden; */
}

.dark-body{
    background-color: #20262E;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}


/************** NAVIGATION BAR **************/



.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s ease-in-out;    
}

.navbar.fixed {
    position: fixed;
    top: 0;
    background-color: #090b14;
}


/************** MENU BAR **************/

.logo {
    width: 7rem;
    height: 2.5rem;
    margin: 10px 60px 10px 50px ;
}


.nav-item {
    margin: 0 80px 30px 80px;
}


/************** NAV-BAR MENU UNDERLINE EFFECT **************/

.itm1, .itm2, .itm3, .itm4, .itm5 {
	text-decoration: none;
	color: #F7D060;
	display: inline-block;
    position: absolute;
}

.itm1::after, .itm2::after, .itm3::after, .itm4::after, .itm5::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(8, 8, 8);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.itm1:hover:after, .itm2:hover:after, .itm3:hover:after, .itm4:hover:after, .itm5:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.itm1:hover, .itm2:hover, .itm3:hover, .itm4:hover, .itm5:hover {
    color: yellow;
}


/************** NAV-BAR SHADOW BUTTONS **************/

#dark-theme{
    font-size: 30px;
    text-align: left;
    margin-right: 50px;
    /* color: #F7D060; */
    color: #263A29;
}

#dark-theme:hover{
    color: #F7D060;
}


/************** PROFILE SECTION **************/

.first-section {
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 0, 0.637), rgb(171, 212, 57));
    /* background-color: #BFCCB5; */
    display: block;
    padding: 0 50px;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 150px 50px 0 50px;
}


.profile-image {
    width: 16.5rem;
    height: 16.5rem;
    border-radius:160px;
    background-color: #263A29;
    display: block;
}

.personal-image {
    width: 16rem;
    height: 16rem;
    padding: 20px 5px 5px 30px;

}

.profile-details {
    margin: 80px 0 0 60px;
    font-size: 25px;
    /* font-family: cursive; */
    display: block;
    color: #1c2446;
}

.pd1 {
    line-height: 2;
}
.contact {
    padding: 50px 120px 50px 0;
    display: flex;
    justify-content: right;
    
}

.contact-info{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #263A29;
    margin: 0 30px 0 30px;
}

.profile-icon {
    font-size: 70px;
    margin: 0 4px 10px 4px;
}


/********** MEDIA QUERY IN *********/

@media only screen and (max-width: 850px){

    body{
        overflow-x: hidden;
    }

    .container-fluid .logo{
        margin: 0;
    }

    .navbar-nav .nav-item{
        margin-left: 0;
    }

    #dark-theme{
        position: absolute;
        right: 50px;
        bottom: 10px;
        font-size: 15px;
    }

    .first-section{
        padding: 0;
    }

    .profile{
        padding: 0;
    }
    .profile-image{
        margin-left: 100px;
        margin-top: 100px;
    }
    .profile-details{
        margin-top: 30px;
        margin-left: 80px;
        text-align: center;
    }
    .profile-details .pd1{
        font-size: 30px;
    }
    .contact{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 130px;
        gap: 20px;
    }
    .profile-icon{
        font-size: 50px;
    }


    .workspace{
        padding-bottom: 0;
        margin-top: 0%;
    }

    .work-image{
        padding: 10px;
    }

    .row .work-image{
        width: 16rem;
        height: 16rem; 
    }
    
    .work-button{
        position: none;
    }

    .about-me h4{
        font-size: 50px;
    }

    .about-me{
        padding-top: 20px;
        margin-bottom: 50px;
    }

    .personal-desc p{
        line-height: normal;
    }

    .mantra, .personal-pix{
        display: none;
    }

    .skill .s-img{
        width: 3rem;
        height: 3rem;
        margin: 10px;
    }

    footer .footer-desc{
        display: block;
        padding: 10px;

    }

    .footer-desc .footer-btn{
        margin-left: 0;
        padding-left: 60px;
    }

    .handle .sm{
        font-size: 18px;
        margin-top: 15px;
        margin-right: 30px;
        margin-bottom: 10px;
        /* padding: 20px 30px ; */
    
    }

    .roll-back{
        display: none;
    }

    .cv-download{
        position: absolute;
        left: 150px;
    }

}

.workspace {
    padding: 75px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.work {
    display: flex;
}

.fa-sharp {
    font-size: 50px;
    margin-left: 40px;
}


.row {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0 25px 0;
    
}

.work-image {
    width: 22rem;
    height: 22rem;
    border-radius: 20px;
    opacity: 0.75;
}

.work-image:hover {
    opacity: 1;
}


.work-button {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#f1eaea;
    border-color:#263A29;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #202f69;
    text-shadow:inset 0px 1px 0px #090b14;
    background:#090b14;
    /* position: relative;
    left: 47%; */
    margin: 20px auto;
  }
  
  .work-button:hover {
    background: #1c2446;
  }



  /************** ABOUT ME **************/

.about-me {
    width: 100%;
    margin: 75px 0 75px 0;
    background-color: #7e859e;
    display: block;
    /* background-color: #366d3e; */
}

.about-me-head {
    text-align: center;
    font-size: 75px;
    font-family: cursive;
    color: #1c2446;
}

.about-me-frame{
    display: flex;
    padding: 10px 30px;
}

.personal-pix {
    width: 13rem;
    height: 19.5rem;
    border-radius: 20px;
}

.personal-desc {
    color: #1c2446;
    font-size: 24px;
    padding: 5px 20px 0px 20px;
    text-align: center;
}

.mantra {
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 30px 0 30px 0;
    color: chartreuse;
    font-family: cursive;
    height: 15rem;
    width: 13rem;
    margin-top: 30px;
}

.mantra:hover {
    background-color: transparent;
    color: black;
}

.mantra-head {
    margin: 30px 0 20px 30px;
    font-size: 35px;
}

.m1 {
    text-align: center;
    font-size: 17px;
}


.about-skills {
    padding: 30px 10px;
    display: flex;
    justify-content: space-evenly;

}

.s-img {
    width: 5rem;
    height: 5rem;
    box-shadow: 3px 3px 5px #2c3e88;
    ;
    border-radius: 0 0 20px 0;
    margin: 20px 10px 20px 40px;
}



/************ CONTACT PAGE *************/

.contact-body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #7e859e;
}

.contact-box{
    width: 60%;
    height: 70%;
    background-color: #1c2446;
    /* margin: auto; */
}
/* .contact-me {
    width: 90%;
    height: 600px;
    background-color: #1c2446;
    margin: 150px 50px 150px 50px;
}

.contact-image {
    width: 330px;
    height: 330px;
    margin-left: 150px;
    margin-top: 40px;
    border-radius: 20px;
}

.contact-font {
    margin: 30px 0 25px 80px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
}

.input-section {
    margin-bottom: 20px;
    margin-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
}

.submit {
    width: 135px;
    height: 45px;
    background-color: transparent;
    border-radius: 25px;
    border-color:darkslategray;
    margin: 18px 10px 0 0;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
    font-size: 15px;
}

.submit:hover {
    background-color: rgb(175, 199, 42);
    border: none;
    color: black;
} */



/**************** FOOTER ****************/

footer {
    width: 100%;
    background-color: black;
    padding: 0 20px;
}


.f-logo {
    width: 7rem;
    height: 2.5rem;
    margin: 30px 0 10px 75px;
}

.footer-desc {
    padding: 10px 40px 10px 60px;
    display: flex;
}


/* .footer-desc {
    width: 70%;
    margin-top: 0;
} */

.footer-btn {
    display: flex;
    margin-left: 30px;
}

.cv-btn {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#0a0a0a;
    border-color:#74b807;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #a4e271;
    text-shadow:inset 0px 1px 0px #528009;
    background:#89c403;
    margin-right: 30px;
}

.cv-btn:hover {
    background: #77a809;
}

.convo-btn {
    width: 135px;
    height: 45px;
    background-color: transparent;
    border-radius: 25px;
    border-color:  #77a809;
    /* margin: 18px 10px 0px 0px; */
    color: #77a809;
} 


.convo-btn:hover {
background-color: #77a809;
border: none;
color: #0a0a0a;
}

.handle {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin: auto 38%;
}

.sm {
    color: yellow;
    font-size: 25px;
    /* margin-right: 60px; */
    
}

.sm:hover {
    color: #77a809;
}


/********* CURRICULUM VITAE *********/

.cv-body {
    background-color: #CCD6A6;
    display: flex;
    flex-direction: row;
}

.back-home {
    display: flex;
}

.cv-back-arrow {
    font-size: 20px;
    margin: 30px 0 0 30px;
    color: #181D31;
}

.cv-layout {
    width: 794px;
    height: 1123px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #FFFFFF;
    box-shadow: 3px 3px 5px rgb(121, 128, 113);
    display: block;
    position: absolute;
    left: 20%;
}

.bio-data {
    display: block;
    margin: 10px 10px 15px 10px;
    text-align: center;
    background-color: #181D31;
    color: #FFFFFF;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

.fa-map-location {
    font-size: 60px;
}

.cv-hr {
    border: none;
    background-color: #181D31;
    color: #181D31;
    height: 2px;
    margin: 0 48px 8px 48px;
}

.career-goal {
    margin: 0 96px 20px 96px; 
}

.cg {
    margin-bottom: 8px;
}

.cgp {
    margin-left: 15px;
}

.personal-info {
    margin-left: 96px;
}

.qual {
    margin: 0 96px 15px 96px;
}

.sch {
    background-color: #181D31;
    color: #FFFFFF;
}

.work-exp {
    margin: 0 96px 15px 96px;
}

.pro-skill {
    margin: 0 96px 15px 96px;
}

.hobby {
    margin: 0 96px 20px 96px;
}

.footer-desc {
    color: yellowgreen;
}

.end-cv {
    width: 100%;
    height: 40px;
    background-color: #181D31;
    color: #FFFFFF;
    text-align: right;
}

.cv-btn-dwld {
    margin-top: 30px;
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#ccd6a6;
    border-color:#090b14;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow:inset 0px 1px 0px 0px #a1aee2;
    text-shadow:inset 0px 1px 0px #090b14;
    background-color: #181D31;
    position: absolute;
    right: 5%;
}
